body {
    margin: 0;
    height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(116, 128, 255);
}

.content-wrapper {
    max-width: 800px;
    width: 100%;
    height: 100%;
    background-color: #ffff;
}