body {
    margin: 0;
    height: 100vh;
    background-color: aquamarine;
}

/* When we hit a min width of 780px the color should change */

@media screen and (min-width: 780px) {
    body {
        background-color: saddlebrown;
    }
}

.header {
    font-family: Roboto;
    color: black;
    background-color: white;
}

.footer {
    font-family: Roboto;
    color: black;
    background-color: white;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page-header {
    background-color: white;
}

.content-wrapper {
    max-width: 800px;
    width: 100%;
    height: 100%;
    background-color: #ffff;
}