body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

div {
    display: block;
}

/* When we hit a min width of 780px the color should change */

@media screen and (min-width: 780px) {
  page-wrapper {
    background-color: white;
    flex-grow: 1;
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .services-footer, .account-footer, .ricca-footer {
      width: 100%;
  }


  .header-image {
    display: flex;
    justify-content: center;
  }

  .header {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .header-list {
    flex-grow: 1;
    display: inline;
  }

  .header-list-items {
    color: black;
    flex-direction: row;
    display: flex; 
    float: right;
  }

  .product-1 {
    flex-direction: row;
  }

  .winter-sale {
    font-size: 72px;
  }

  .percent-off {
    font-size: 50px;
  }
}

.sale {
  background-color: #01213f;
  text-align: center;

  width: 368px;
  height: 296px;
  left: calc(50% - 368px / 2 - 1px);
  top: 53px;

  border: 8px solid #ffffff;
  box-sizing: border-box;
}

.see-deals {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #c48b98;
  background: #01213f;
}

.winter-sale {
  font-size: 45px;
}

.percent-off {
  font-size: 38px;
}

.inner-sale {
  width: 368px;
  height: 296px;
  left: calc(50% - 368px / 2 - 1px);
  top: 53px;

  border: 8px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
}

.details {
  display: inline-block;
  border: #c48b98;
  border-style: solid;
  color: #c48b98;
}

.header {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: white;
  align-items: center;
  text-align: center;
}

.header-list {
  color: black;
}

.header-image {
  margin: 10px;
}

.header-list-items a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.footer-list-items a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.products {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: white;
  flex-direction: column;
}

.product-1 {
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: white;
  text-align: center;
}

.buttons {
  background-color: white;
  display: flex;
}

.price-and-buttons {
  display: flex;
}

.page-wrapper {
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.page-header {
  background-color: white;
}

.content-wrapper {
  max-width: 800px;
  width: 100%;
  height: 100%;
  background-color: #ffff;
}

.load-more {
  background-color: #c48b98;
  text-align: center;
  color: white;
}

.ricca-footer-image {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.load-more {
    width: 374px;
    height: 80px;
    background: #c48b98;
}
